@model LabInfoModel

<table border="1">
    <tr><th>Номер лабораторної</th><td>@Model.LabNumber</td></tr>
    <tr><th>Тема</th><td>@Model.Topic</td></tr>
    <tr><th>Мета</th><td>@Model.Goal</td></tr>
    <tr><th>Виконавець</th><td>@Model.StudentName</td></tr>
</table>